{% extends 'base.html' %}
{% block content %}
    <table class="darkTable">
<thead>
<tr>
    <th>Model</th>
    <th>Marka</th>
    <th>Rok produkcji</th>
    <th>Generacja</th>
    <th>Silnik</th>


</tr>
</thead>
{% for car in cars %}


<tbody>
<tr>
    <td>{{ car.name }}</td>
    <td>{{ car.brand }}</td>
    <td>{{ car.year }}</td>
    <td>{{ car.generacion }}</td>
    <td>{{ car.engine }}</td>




</tr>
</tbody>
    <p><a href="edit_car/">Edytuj</a></p>

</table>
        {% endfor %}

        <input type=button value="Wstecz" onClick="javascript:history.go(-1);" class="btn btn-warning">



{% endblock %}