{% extends 'base.html' %}
{% block content %}
    <table class="darkTable">
<thead>
<tr>
    <th>Model</th>
    <th>Marka</th>
    <th>Generacia</th>
    <th>Rok produkcji</th>
    <th>Silnik</th>
    <th></th>
</tr>
</thead>
{% for car in cars %}


<tbody>
<tr>
    <td>{{ car.name }}</td>
    <td>{{ car.brand }}</td>
    <td>{{ car.generacion }}</td>
    <td>{{ car.year }}</td>
    <td>{{ car.engine }}</td>
    <td><a href="{{ car.get_detail_url }}">Edytuj</a></td>

</tr>
</tbody>
        {% endfor %}
</tr>
</table>

{% endblock %}