{% extends 'base.html' %}
{% block content %}
    <table class="darkTable">
        <thead>
        <tr>
            <th>Typ pracy</th>
            <th></th>

        </tr>
        </thead>
        {% for type in types %}


            <tbody>
            <tr>
                <td><a href="{{ type.get_detail_url }}" class="btn btn-warning">{{ type.name }}</a></td>
                <td>{{ type.sum_of_parts }}</td>

            </tr>
            </tbody>
        {% endfor %}
        </tr>
    </table>
    <input type=button value="Wstecz" onClick="javascript:history.go(-1);" class="btn btn-warning">

{% endblock %}