{% extends 'base.html' %}
{% block content %}
    <table class="darkTable">
<thead>
<tr>
    <th>Nazwa</th>
    <th>Type pracy</th>
    <th>Cena (PLN/h)</th>
    <th>Opis wykonywanej pracy</th>
    <th></th>

</tr>
</thead>
{% for worker in workers %}


<tbody>
<tr>
    <td>{{ worker.name }}</td>
    <td>{{ worker.type }}</td>
    <td>{{ worker.price }}</td>
    <td>{{ worker.work }}</td>
    <td style="color: red"><a href="{{ worker.get_detail_url }}"class="btn btn-warning">Edycja</a></td>


</tr>
</tbody>
        {% endfor %}
</tr>
</table>
        <input type=button value="Wstecz" onClick="javascript:history.go(-1);" class="btn btn-warning">

{% endblock %}